$final-color: #1abc9c;
$primary-color: #005dad;
$secondary-color: #eaebed;
:root {
  --animation-shift: 200px;
  --animation-shift-neg: -200px;
  --animation-time: 1.5s;
  --animation-easing: cubic-bezier(.5, .4, .2, .8);
}

.Loader {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-size: 16px;
  height: 100vh;
  justify-content: center;

  &__container {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__circle {
    display: flex;
    margin: 0px auto;
    width: 5em;

    &:before {
      content:'';
      display: block;
      padding-top: 100%;
    }

    svg {
      animation: rotate 2s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;

      circle {
        animation:
                dash 1.5s ease-in-out infinite,
                color 6s ease-in-out infinite;
        stroke-linecap: round;
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
      }
    }
  }
}

@keyframes color{
  100%, 0%{
    stroke: #fafafa;
  }
  80%, 90%{
    stroke: $final-color;
  }
}
@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
