@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
    color: white;
}
html, body {
    min-height: 100%;
}
body {
    background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%);
    background-repeat: no-repeat;
}
p {
    margin: 16px auto;
    line-height: 1.5em;
}
img {
    max-width: 100%;
    max-height: 100%;
}

/* layout & nav */
.Layout {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    &__content {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px;
    padding: 0 20px;
}
nav .links {
    display: inline-block;
    text-align: right;
}
nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent;
    text-transform: capitalize;
    transition: all .2s ease;
}
nav a:hover {
    border-color: white;
}
footer p{
    text-align: center;
    color: #bbb;
    margin: 40px auto;
}

