.home {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  display: flex;
  max-width: 800px;
  justify-content: space-around;
  width: 100%;
}
