.GameCard {
  display: flex;
  align-items: end;
  cursor: pointer;

  &__wrapper {
    position: relative;
  }

  &--isFlipped {
    .GameCard__card--front {
      transform: rotateY(0deg);
      transition-delay: 0.2s;
    }
    .GameCard__card--back {
      transform: rotateY(-90deg);
      transition-delay: 0s;
    }
  }

  &__card {
    cursor: pointer;

    &--front {
      position: absolute;
      transform: rotateY(90deg);
      transition: all 0.2s ease;
      max-height: 100%;
      max-width: 100%;
      padding: 8px;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      border-radius: 8px;
      background: #fafafa;
      box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    }

    &--back {
      transform: rotateY(0deg);
      transition: all 0.2s ease 0.2s;
      display: flex;
      padding: 8px;
      background: #fafafa;
      align-items: center;
      justify-content: center;
      min-height: 130px;
      border-radius: 8px;
      box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    }
  }
}

picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
